@import "../mixin.scss";
@import "../variables.scss";
.s-body{
    padding:15px;
    width:100%;
    height:45%;
    .s-seconds{
        font-size:50px;
    }
    .s-m-seconds{
        font-size:25px;
    }
    .s-minutes{
        display: none;
        font-size:50px;
    }
    .s-m{
        display: none;
    }
}

.s-footer{
    display:flex;
    justify-content: space-between;
    padding:20px;
    border-top: 1px solid $l-gray;
    .s-controls{
        display:flex;
        .s-start,.s-reset{
          @include center;
          width:70px;
          height:30px;  
          border-radius: 2px;
          
        }
        .s-start{
            background-color: $blue;
            color:$white; 
        }
        .s-reset{
            border: 1px solid $l-gray;
            color:$blue;
            margin-left: 20px;
        }
    }
    .s-resize{
        @include center;
        color:$l-gray;
        font-size: 20px;
    }
}